.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

.new-pet {
  font-weight: bold;
  border: 2px solid var(--primary-color);
}

.hidden {
  display: none;
}